<%- include('partials/header') %>

<div class="jumbotron centered custom-jumbotron">
  <h3 id="date"></h3>
  <div class="container text-center">
    <i class="fas fa-walking fa-4x p-2"></i>
    <h1 class="display-3 p-2" style="display: inline">Welcome to Simply Fit</h1>
    <i class="fas fa-walking fa-4x p-2"></i>

    <p class="lead">Track your health and be inspired by Simply Fit!</p>
    <hr />
    <a class="btn btn-light btn-lg m-4" href="/api/register" role="button"
      >Register</a
    >
    <a class="btn btn-dark btn-lg m-4" href="/api/login" role="button"
      >Login</a
    >
    <a class="btn btn-light btn-lg m-4" href="/api/user" role="button"
      >User Profile</a
    >
    <a class="btn btn-dark btn-lg m-4" href="/api/dashboard" role="button"
      >Dashboard</a
    >
  </div>
</div>

<script src="./js/date.js"></script>

<%- include('partials/footer') %>
