<%- include('partials/header') %>

<div class="container mt-5">

  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="d-flex justify-content-center big mb-4">Login</h1>
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /login route -->
          <form action="/api/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                name="username"
                id="email"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
              />
            </div>
            <button type="submit" class="btn btn-dark mt-3 custom-btn login-btn">
              Login
              <i class="fas fa-check m-1"></i>
            </button>
          </form>
        </div>
      </div>
    </div>

<script src="../js/login.js"></script>
<script src="../js/logout.js"></script>

<%- include('partials/footer') %>
