<%- include('partials/header') %>

<div class="container mt-5">

  <div class="row">
    <div class="col-md-6">
      <h1>Login</h1>
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /login route -->
          <form action="/api/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                name="username"
                id="email"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
              />
            </div>
            <button type="submit" class="btn btn-dark login-btn">Login</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h1>Logout</h1>
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /logout route -->
          <form action="/api/logout" method="POST">
            <div class="form-group">
              <label for="logout-email">Email</label>
              <input
                type="email"
                class="form-control"
                name="username"
                id="logout-email"
              />
            </div>
            <button type="submit" class="btn btn-dark logout-btn">
              Logout
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../js/login.js"></script>
<script src="../js/logout.js"></script>

<%- include('partials/footer') %>
