<%- include('partials/header') %>


<div class="container">

<h2>We're sorry! </h2><h2> Please login to view the Dashboard!</h2>
<button class="login-btn btn mt-3 btn-light" onclick="history.back()">Home</button>

<%- include('partials/footer') %></div>