<%- include('partials/header') %>
<div class="container mt-5">

  <% // inputs for email, password & register button %>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="d-flex justify-content-center big mb-4">Register</h1>
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/api/register" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark register-btn custom-btn mt-3">
              Register
              <i class="fas fa-check m-1"></i>
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="../js/register.js"></script>

<%- include('partials/footer') %>
