body {
  font-family: Helvetica, Arial, sans-serif;
  background-color:#3DBBBF;
  background-repeat: no-repeat;
  justify-content: center;
  height: 100vh;
}

header {
  display: block;
  background-color: white;
}

h1 {
  color:#C20024;  
  text-align: center;
  display: inline-block;
}

footer {
  margin-top: 40px;
}

.big {
  transform: scale(1.35);
}

.custom-jumbotron {
  height: 350px;
  width: auto;
  max-width: 77vw;
  background-color: white;
  box-shadow: 5px 5px 15px black;
  border-radius: 5px;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
}

.custom-jumbotron h3 {
  padding-top: 15px;
  font-weight: 200;
  transform: scale(0.85);
}

.date {
  font-weight: 200;
  font-size: 1.5rem;
}

.card {
  box-shadow: 5px 5px 15px black;
}

:hover.card {
  transform: scale(1.015);
  transition: transform ease-in-out;
}

.card .custom-btn:hover {
  .fa-plus {
    color: white;
  }  
}

.custom-btn {
  background-color: rgb(52,160,164);
  border: none;
}

.logout-btn {
  background-color: #C20024;
  border: none;
}

.logout-icon {
  margin-left: 4px;
}

.daily-total {
  display: flex; 
  width: 100%; 
  justify-content: space-between;
}

.orange {
  color:#C20024;
}

.toast {
  border-radius: 22px;
}

.form-inline label {
  margin-left: 8px;
  padding-top: 5px;
  display: inline-block;
  width: 220px;
}

.form-inline button {
  margin-left: 8px;
  height: 35px;
}

.form-inline input {
  height: 35px;
}

.footer {
  padding-top: 100px;
}

@media screen and (max-width: 1274px) {

  header h1,
  header .fa-dumbell {
    padding-top:5px;
  }
  .custom-jumbotron {
    height: 650px;
  }

  .form-inline {
    padding-top: 10px;
  }

  .form-inline input{
    width: 155px;
    margin-left: -80px;
  }
  .date {
    transform: scale(0.70);
  }
}
