body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-image: linear-gradient(
    33deg,
    rgb(14, 126, 247, 0.8) 45%,
    rgb(144, 148, 194, 0.9) 55%
  );
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.custom-jumbotron {
  height: 400px;
  background-color: rgb(211, 232, 251);
  box-shadow: 5px 5px 15px black;
  border-radius: 5px;
}
