body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 20px;
  background-color:#3DBBBF;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 100vh;
}

h1 {
  color:#C20024;  
  text-align: center;
  display: inline-block;
}

footer {
  margin-top: 40px;
}

.big {
  transform: scale(1.35);
}

.custom-jumbotron {
  height: 350px;
  background-color: white;
  box-shadow: 5px 5px 15px black;
  border-radius: 5px;
  margin-top: 5%;
}

.card {
  box-shadow: 5px 5px 15px black;
}

.custom-btn {
  background-color: rgb(52,160,164);
  border: none;
}

.daily-total {
  display: flex; 
  width: 100%; 
  justify-content: space-between;
}

.orange {
  color:#C20024;
}

.toast {
  border-radius: 22px;
}

.form-inline label {
  margin-left: 8px;
  padding-top: 5px;
  display: inline-block;
  width: 220px; /* Adjust width as needed */
}

.form-inline button {
  margin-left: 8px;
  height: 35px;
}
.form-inline input {
  height: 35px;
}

@media screen and (max-width: 990px) {
  .custom-jumbotron {
    height: 650px;
  }
}
